<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Fog Carport</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<h1>Skræddersyet Carport</h1>

<h2>Ordrer</h2>
<p>Du har følgende ordrer og forespørgsler</p>
<form method="post">
<table>
    <tr th:each="item: ${orders}">
        <td th:text="${item.orderId}">1</td>
        <td th:text="${item.orderStatusId}">2</td>
        <td th:text="${item.carportWidth}">22</td>
        <td th:text="${item.carportLength}">33</td>
        <td th:text="${item.totalPrice}">334</td>
        <td th:text="${item.user.userName}">Hej</td>
        <td><button type="submit" name="orderId" th:value="${item.orderId}" formaction="/showbom">Se stykliste</button></td>
</tr>
</table>
</form>

</body>
</html>
