<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Fog Carport</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<h1>Skræddersyet Carport</h1>

<h2>Stykliste</h2>
<p>Du har valgt en carport med målene:</p>
<table>
    <tr><td>Bredde:</td><td th:text="${session.width}"></td></tr>
    <tr><td>Længde:</td><td th:text="${session.length}"></td></tr>
</table>

<p>Nu leger vi at kunden har betalt og vi udskriver en stykliste herunder:</p>
<table border="1">
    <tr th:each="item: ${bom}">
        <td th:text="${item.productVariant.product.name}"></td>
        <td th:text="${item.productVariant.length}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.productVariant.product.unit}"></td>
        <td th:text="${item.description}"></td>
    </tr>
</table>

</body>
</html>
